/build/
/data/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile
/install_manifest.txt
/lab8
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
.vscode/
.idea/
*.suo
*.user
*.userossc
*.pdb
*.idb
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
/data/csv/*.csv
/data/png/*.png
